body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.large-font {
    font-size: 40px;
}

.midfont {
    font-size: 35px;
}

.center-align {
    text-align: center;
}

.whitefont {
    color: white;
}

.section1bg {
    background-image: url(images/donation9.jpg);
    opacity: 0.9;
    background-size: cover;
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
}

#margintop {
    padding-top: 2%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, red);
    border-radius: 10px;
    padding: 10px 30px;
    margin-left: 43.5%;
}

.grey {
    color: grey;
}

.section2 {
    margin-top: 80px;
}

.amounts {
    display: flex;
    margin-left: 20%;
    font-size: larger;

}

.amount {
    margin: 20px;
    padding: 5px 25px;
    background-color: rgba(248, 248, 248, 0.718);
}

.redcolor {
    color: tomato;
}

.redborder {
    border: 2px solid tomato;
    border-radius: 7px;
}

.section3 {
    margin-top: 70px;
}

.section4 {
    margin-top: 60px;
}

.food {
    width: 33%;
    background-color: rgba(219, 244, 235, 0.574);
    border-radius: 5px;
    padding: 20px;
    margin-left: 30px;
    text-align: justify;
}

.section5 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 8%;
    display: flex;
}

.shelter {
    width: 33%;
    background-color: rgba(255, 192, 203, 0.259);
    border-radius: 5px;
    padding: 20px;
    margin-left: 30px;
    text-align: justify;
}

.education {
    width: 33%;
    background-color: rgba(255, 255, 0, 0.222);
    border-radius: 5px;
    padding: 20px;
    margin-left: 30px;
    text-align: justify;
}

.saying1 {
    width: 40%;
}

.howtocon {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, red);
    border-radius: 10px;
    padding: 10px 30px;
}

.section6 {
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
}

.section7 {
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.form {
    background-color: blanchedalmond;
    height: 150px;
    width: 700px;
    margin-left: 23%;
    margin-top: 5%;
    text-align: center;
    display: flex;
}

.formelement {
    padding-left: 130px;
    padding-top: 50px;
    padding-bottom: 15px;
    display: flex;
}

.email {
    background-color: gainsboro;
    width: 300px;
    height: 50px;
    border-radius: 5%;
    text-align: left;
}

.subscribe {
    background-color: rgb(255, 38, 0);
    border-radius: 5%;
    width: 120px;
    height: 50px;
    color: aliceblue;
}

.footer {
    background-color: rgb(7, 7, 36);
    width: 100%;
    height: 120px;
    padding-top: 1%;
    margin-top: 5%;
}

.iltalicfont {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}